[package]
authors = ["Pendulum Chain <https://github.com/pendulum-chain>"]
description = "The Vault client intermediates between Stellar and the Spacewalk Parachain."
edition = "2018"
name = "vault"
version = "0.0.1"

[features]
integration = []
parachain-metadata = ["runtime/parachain-metadata"]
standalone-metadata = ["runtime/standalone-metadata"]

[dependencies]
async-trait = "0.1.40"
base64 = {version = '0.13.0', default-features = false, features = ['alloc']}
clap = "3.1"
futures = "0.3.5"
git-version = "0.3.4"
hex = "0.4.2"
parity-scale-codec = "3.0.0"
reqwest = {version = "0.11", features = ["json"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = "1.0.136"
serde_json = {version = '1.0.45', default-features = false, features = ['alloc']}
sha2 = "0.8.2"
thiserror = "1.0"
tokio = {version = "1.0", features = ["full"]}

tracing = {version = "0.1", features = ["log"]}
tracing-futures = {version = "0.2.5"}
tracing-subscriber = {version = "0.2.12", features = ["registry", "env-filter", "fmt"]}

jsonrpc-core = "18.0.0"
jsonrpc-core-client = {version = "18.0.0", features = ["http", "tls"]}

# Workspace dependencies
runtime = {path = "../runtime"}
service = {path = "../service"}

# Substrate dependencies
sp-arithmetic = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sp-core = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sp-io = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sp-keyring = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sp-runtime = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sp-std = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}

# Substrate Stellar Dependencies
substrate-stellar-sdk = {git = "https://github.com/pendulum-chain/substrate-stellar-sdk"}

[dev-dependencies]
mockall = "0.8.1"

# Workspace dependencies
runtime = {path = "../runtime", features = ["testing-utils"]}

# Substrate dependencies
frame-support = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
