[package]
authors = ["Pendulum"]
edition = "2018"
name = "spacewalk-primitives"
version = "1.0.3"

[dependencies]
bstringify = "0.1.2"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.130", default-features = false, optional = true }
base58 = { version = "0.2.0" }
hex = { version = "0.4.3", optional = true }

sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }

frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.40" }

substrate-stellar-sdk = { git = "https://github.com/pendulum-chain/substrate-stellar-sdk", branch = "polkadot-v0.9.40", default-features = false, features = ['offchain', 'all-types'] }

[features]
default = ["std"]
std = [
    "serde/std",
    "codec/std",
    "sp-core/std",
    "sp-std/std",
    "sp-runtime/std",
    "frame-support/std",
    "substrate-stellar-sdk/std",
    "hex"
]
