[workspace]
members = [
  "testchain/node",
  "testchain/runtime",
  "clients/runtime",
  "clients/vault",
  "clients/service",
  "clients/stellar-relay",
  "primitives",
  "rpc",
  "pallets/spacewalk",
  "pallets/stellar-relay",
  "pallets/currency",
]

[profile.release]
panic = "unwind"
