[package]
authors = ["Interlay <contact@interlay.io>"]
edition = "2021"
name = "module-vault-registry-rpc"
version = "1.0.6"

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0"}
jsonrpsee = {version = "0.16.0", features = ["server", "macros"]}
module-oracle-rpc-runtime-api = {path = '../../oracle/rpc/runtime-api'}
module-vault-registry-rpc-runtime-api = {path = "runtime-api"}
sp-api = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.42"}
sp-blockchain = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.42"}
sp-runtime = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.42"}
