[package]
authors = []
edition = "2018"
name = "subxt-client"
version = "0.1.0"

description = "Embed a substrate node into your subxt application."
documentation = "https://docs.rs/substrate-subxt-client"
homepage = "https://www.parity.io/"
keywords = ["parity", "substrate", "blockchain"]
license = "GPL-3.0"
repository = "https://github.com/paritytech/substrate-subxt"

[dependencies]
futures = {version = "0.3.9", features = ["compat"], package = "futures"}
futures01 = {package = "futures", version = "0.1.29"}
jsonrpsee = "0.15.1"
jsonrpsee-core = {version = "0.15.1", features = ["async-client"]}
jsonrpsee-types = "0.15.1"
tokio = {version = "1.10", features = ["time", "rt-multi-thread"]}

log = "0.4.13"
serde_json = "1.0.61"
thiserror = "1.0.23"

sc-client-db = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}
sc-network = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false}
sc-service = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false}
sp-keyring = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24"}

[target.'cfg(target_arch="x86_64")'.dependencies]
sc-service = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, features = [
  "wasmtime",
]}
