[package]
authors = ["Pendulum"]
edition = "2021"
name = 'spacewalk-runtime-standalone'
version = "1.0.3"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "max-encoded-len"]}
getrandom = {version = "0.2.7", default-features = false, features = ["js"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}

cfg-if = "1.0.0"
lazy_static = "1.4.0"

# Substrate dependencies
sp-api = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-block-builder = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-core = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-inherents = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-io = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-offchain = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-runtime = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-session = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-std = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-transaction-pool = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-version = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}

frame-executive = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
frame-support = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
frame-system = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-balances = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-sudo = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-timestamp = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-transaction-payment = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}

frame-system-rpc-runtime-api = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-transaction-payment-rpc-runtime-api = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}

# Used for runtime benchmarking
frame-benchmarking = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false, optional = true}
frame-system-benchmarking = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false, optional = true}
hex-literal = {version = "0.3.4", optional = true, default-features = false}

# Aura & GRANDPA dependencies
pallet-aura = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
pallet-grandpa = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-consensus-aura = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}

# Orml dependencies
orml-currencies = {git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.40", default-features = false}
orml-tokens = {git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.40", default-features = false}
orml-traits = {git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.40", default-features = false}

clients-info = {path = "../../pallets/clients-info", default-features = false}
currency = {path = "../../pallets/currency", default-features = false}
fee = {path = "../../pallets/fee", default-features = false}
issue = {path = "../../pallets/issue", default-features = false}
nomination = {path = "../../pallets/nomination", default-features = false}
oracle = {path = "../../pallets/oracle", default-features = false}
pooled-rewards = {path = "../../pallets/pooled-rewards", default-features = false}
redeem = {path = "../../pallets/redeem", default-features = false}
replace = {path = "../../pallets/replace", default-features = false}
reward = {path = "../../pallets/reward", default-features = false}
reward-distribution = {path = "../../pallets/reward-distribution", default-features = false}
security = {path = "../../pallets/security", default-features = false}
staking = {path = "../../pallets/staking", default-features = false}
stellar-relay = {path = "../../pallets/stellar-relay", default-features = false}
vault-registry = {path = "../../pallets/vault-registry", default-features = false}

module-issue-rpc-runtime-api = {path = "../../pallets/issue/rpc/runtime-api", default-features = false}
module-oracle-rpc-runtime-api = {path = "../../pallets/oracle/rpc/runtime-api", default-features = false}
module-redeem-rpc-runtime-api = {path = "../../pallets/redeem/rpc/runtime-api", default-features = false}
module-replace-rpc-runtime-api = {path = "../../pallets/replace/rpc/runtime-api", default-features = false}
module-vault-registry-rpc-runtime-api = {path = "../../pallets/vault-registry/rpc/runtime-api", default-features = false}

primitives = {package = "spacewalk-primitives", path = "../../primitives", default-features = false}

orml-oracle = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.40", default-features = false }
dia-oracle = { git = "https://github.com/pendulum-chain/oracle-pallet", branch = "polkadot-v0.9.40", default-features = false }

[dev-dependencies]
flate2 = "1.0"
hex = "0.4.2"
mocktopus = "0.8.0"
pretty_assertions = "0.7.2"
serde_json = "1.0"

[build-dependencies]
substrate-wasm-builder = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40"}

[features]
default = ["std"]
disable-runtime-api = []
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-system-benchmarking/runtime-benchmarks",
  "hex-literal",
  "clients-info/runtime-benchmarks",
  "fee/runtime-benchmarks",
  "issue/runtime-benchmarks",
  "nomination/runtime-benchmarks",
  "oracle/runtime-benchmarks",
  "redeem/runtime-benchmarks",
  "replace/runtime-benchmarks",
  "reward-distribution/runtime-benchmarks",
  "stellar-relay/runtime-benchmarks",
  "vault-registry/runtime-benchmarks",
]
std = [
  "codec/std",
  "currency/std",
  "clients-info/std",
  "fee/std",
  "frame-executive/std",
  "frame-support/std",
  "frame-system-rpc-runtime-api/std",
  "frame-system/std",
  "getrandom/std",
  "issue/std",
  "module-issue-rpc-runtime-api/std",
  "module-oracle-rpc-runtime-api/std",
  "module-redeem-rpc-runtime-api/std",
  "module-replace-rpc-runtime-api/std",
  "module-vault-registry-rpc-runtime-api/std",
  "nomination/std",
  "oracle/std",
  "orml-currencies/std",
  "orml-tokens/std",
  "orml-traits/std",
  "pallet-aura/std",
  "pallet-balances/std",
  "pallet-grandpa/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-transaction-payment/std",
  "pooled-rewards/std",
  "primitives/std",
  "redeem/std",
  "replace/std",
  "reward/std",
  "reward-distribution/std",
  "scale-info/std",
  "security/std",
  "sp-api/std",
  "sp-block-builder/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-inherents/std",
  "sp-io/std",
  "sp-offchain/std",
  "sp-runtime/std",
  "sp-session/std",
  "sp-std/std",
  "sp-transaction-pool/std",
  "sp-version/std",
  "staking/std",
  "stellar-relay/std",
  "vault-registry/std",
  "orml-oracle/std",
  "dia-oracle/std",
]
testing-utils = ["oracle/testing-utils"]
