[package]
authors = ["Interlay <contact@interlay.io>"]
edition = "2021"
name = "module-oracle-rpc-runtime-api"
version = "1.0.3"

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "max-encoded-len"]}
frame-support = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
serde = {version = "1.0.130", default-features = false, optional = true, features = ["derive"]}
sp-api = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}
sp-std = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false}

primitives = { package = "spacewalk-primitives", path = "../../../../primitives", default-features = false }

[features]
default = ["std"]
std = [
  "serde",
  "codec/std",
  "frame-support/std",
  "sp-api/std",
  "sp-std/std",
]
