[package]
authors = ["SatoshiPay"]
build = "build.rs"
edition = "2018"
name = "spacewalk-standalone"
version = "1.2.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "spacewalk-standalone"

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }

[dependencies]
clap = { version = "4.0.26", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0" }
hex-literal = "0.2.1"
log = "0.4.8"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.85"
futures = "0.3.15"

# Parachain dependencies
primitives = { package = "spacewalk-primitives", path = "../../primitives" }
spacewalk-rpc = { path = "../../rpc" }
spacewalk-runtime = { package = "spacewalk-runtime-standalone", path = "../runtime" }

# Substrate dependencies
sc-basic-authorship = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-cli = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-client-api = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-consensus = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-consensus-aura = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-consensus-manual-seal = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-executor = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-finality-grandpa = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-keystore = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-service = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-telemetry = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sc-transaction-pool = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-api = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-arithmetic = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-block-builder = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-consensus = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-consensus-aura = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-core = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-finality-grandpa = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-inherents = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-io = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-offchain = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-keyring = { git = "https://github.com/paritytech//substrate.git", branch = "polkadot-v0.9.35" }
sp-runtime = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-session = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-timestamp = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
sp-transaction-pool = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }

frame-benchmarking = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
frame-benchmarking-cli = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
frame-support = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }
frame-system = { git = "https://github.com/paritytech//substrate", branch = "polkadot-v0.9.35" }

pallet-transaction-payment = { default-features = false, git = "https://github.com/paritytech//substrate.git", branch = "polkadot-v0.9.35" }

substrate-stellar-sdk = { git = "https://github.com/pendulum-chain/substrate-stellar-sdk", branch = "polkadot-v0.9.35" }

[features]
default = []
runtime-benchmarks = [
    "spacewalk-runtime/runtime-benchmarks",
    "frame-benchmarking/runtime-benchmarks",
    "frame-benchmarking-cli/runtime-benchmarks",
]
