name: Build binaries
on:
  push:
    branches:
      spacewalk-release

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: trigger job
        uses: appleboy/gitlab-ci-action@master
        with:
          host: "https://gitlab.com"
          token: ${{ secrets.GITLABAPI }}
          debug: true
          project_id: 43970950